.bn980x400px{display:block; overflow:hidden; margin:20px auto 0;}
.bn980x400px img{display:block; max-width:100%; height:auto}
.bgstyle{display:block; overflow:hidden; background:white;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ececed), to(#ffffff));
  background: -webkit-linear-gradient(top, #ffffff, #ececed);
  background: -moz-linear-gradient(top, #ffffff, #ececed);
  background: -ms-linear-gradient(top, #ffffff, #ececed);  
  background: -o-linear-gradient(top, #ffffff, #ececed);
  }
.yourstyle{position:relative; margin-top:50px; border-top:1px dotted #252525}
.yourstyle h3{position:absolute; left:0; right:0; top:-30px; width:220px;font-size: 26px; font-weight: normal; text-align:center; padding:12px; background:white; display:block; margin:auto; 
font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;color:#252525; text-transform:uppercase; *left:37%}

.yourstyle a{float:left; width:31.5%; height:auto; margin:40px 0.6% 30px 0.6%; position:relative;}
.yourstyle a img{display:block; width:100%; height:100%}
.yourstyle a .mask{position:absolute; top:0; left:0; width:100%; height:100%;background:#fff;*background:#fff;background:rgba(255,255,255,0.5); cursor:pointer;
-webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; -ms-transition: all 0.5s ease; transition: all 0.5s ease;
-ms-opacity:0; opacity:0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=0); -khtml-opacity:0;}
.yourstyle a:hover .mask{-ms-opacity:1;opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter:alpha(opacity=50);-khtml-opacity:1;}

.yourstyle a button{background:#ed1c24; font-size:13px; color:white; padding:6px 16px; position:absolute; left:0; right:0; bottom:80px; z-index:99; width:120px; margin:auto; display:block; border:0; *left:35%; cursor:pointer}

.yourstyle .viewmorestyle{position:absolute; right:0; top:-15px; background:white; padding:6px 12px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;; font-size:12px; color:#a1a1a1; margin:0; width:72px;height:auto;}
.yourstyle .viewmorestyle span{font-size:22px; margin:-8px 6px 0 0; float:right; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;}

.latestproduct{position:relative; margin-top:30px; border-top:1px dotted #252525}
.latestproduct h3{position:absolute; left:0; right:0; top:-30px; width:220px; text-align:center; padding:12px; background:white; display:block; margin:auto; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;font-size: 26px; font-weight: normal; color:#252525; text-transform:uppercase; *left:37%}
.latestproduct .viewmorestyle{position:absolute; right:0; top:-15px; background:white; padding:6px 12px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;; font-size:12px; color:#a1a1a1; margin:0; width:72px;height:auto;}
.latestproduct .viewmorestyle span{font-size:22px; margin:-6px 6px 0 0; float:right; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;}

.latestproduct .item a{display:block; overflow:hidden;}
.latestproduct .item a span{display:block; margin:0 auto; overflow:hidden; width:25px; height:1px; background:#252525}
.latestproduct .item a strong{display:block; padding-top:12px; text-align:center;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-weight:bold; font-size:14px; color:#ed1c24}
.latestproduct .item a label{display:block; padding-top:12px;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size:14px; color:#252525; text-align:center;}

.favoriteproduct{position:relative; margin-top:50px; border-top:1px dotted #252525}
.favoriteproduct h3{position:absolute; left:0; right:0; top:-30px; width:400px; text-align:center; padding:12px; background:white; display:block; margin:auto; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;; font-size:26px; font-weight: normal; color:#252525; text-transform:uppercase; *left:26%}
.favoriteproduct .viewmorestyle{position:absolute; right:0; top:-15px; background:white; padding:6px 12px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;; font-size:12px; color:#a1a1a1; margin:0; width:72px;height:auto;}
.favoriteproduct .viewmorestyle span{font-size:22px; margin:-6px 6px 0 0; float:right; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;}

.favoriteproduct .item a{display:block; overflow:hidden;}
.favoriteproduct .item a span{display:block; margin:0 auto; overflow:hidden; width:25px; height:1px; background:#252525}
.favoriteproduct .item a strong{display:block; padding-top:12px; text-align:center; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;; font-size:14px; color:#ed1c24}
.favoriteproduct .item a label{display:block; padding-top:12px;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size:14px; color:#252525; text-align:center;}

.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}


.owl-theme .owl-controls{
	margin-top: 10px;
	text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 5px 5px -44px 5px;
	padding: 3px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #869791;
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.51;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	/*min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center*/
}

#owl-demo .item{
	margin: 3px;
}
#owl-demo .item img{
	display: block;
	width: 100%;
	height: auto;
}
#owl-example .item img{
	width: auto;
	margin: 0 auto;
	display: block;
}
#owl-example .item h3{font-size: 28px;font-weight: 300;margin: 25px 0 0;}
#owl-example .item h4{
	margin: 5px 0 0;
	font-size: 18px;
}

#owl-latest, #owl-favorite{margin:40px 0 30px}
.owl-pagination{display:none}

.owl-prev{background:none !important; color:#C00 !important; font-size:72px !important; position:absolute; left:0; bottom:50%}
.owl-next{background:none !important; color:#C00 !important; font-size:72px !important; position:absolute; right:0; bottom:50%}

@media screen and (max-width: 640px){
	.favoriteproduct h3 {
		width: 100%;
		padding: 0!important;
	}
}
