.sitemap{display:block; overflow:hidden; margin:20px auto}
.sitemap li{float:left; overflow:hidden; padding:0 16px;}
.sitemap li h2{display: block; line-height:1.3em; font-size:14px;}
.sitemap li h2 a{display:block; padding:8px 0; font-family:'ProximaNova-Bold'; color:#252525; font-size:14px}
.sitemap li h3{display: block; line-height:1.3em; font-size:14px}
.sitemap li h3 a{display:block; padding:5px 0; color:#252525; font-size:13px}
.sitemap li h3 a label{font-size:10px; color:#a1a1a1; float:left; margin-right:6px;}
.sitemap li h3 a:hover, .sitemap li h2 a:hover{color:#444; text-decoration:underline}
