.field-wrap>div input, .field-wrap textarea, .field-wrap select, .field-wrap .pikaday__container, .field-wrap .pikaday__display, .field-wrap .listselect-wrap>div {
    border-radius: 5px;
    border: 1px solid #d1d1d1;
    height: 48px !important;
    font-size: 13px;
    padding-left: 10px;
    transition: all .3s ease 0s;
    width: 100%;
}
.nf-form-hp {
    position: absolute;
    visibility: hidden;
}
.ninja-forms-req-symbol, .nf-error-msg {
    color: #e80000;
}
.nf-error .ninja-forms-field {
    border: 1px solid #e80000;
}